<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.profile_attr.name %>
  <%= @user.profile_attr.location %>
  <%= @user.profile_attr.about %>
  <%= @user.profile_attr.company %>
  <%= @user.profile_attr.education %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
