<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.profile_attr.name %><br>
  <%= @user.profile_attr.location %><br>
  <%= @user.profile_attr.about %><br>
  <%= @user.profile_attr.company %><br>
  <%= @user.profile_attr.education %><br>
  <%= image_tag @user.profile_attr.image %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Edit', edit_user_profile_attr_path(@user) %> |
<%= link_to 'Timeline', root_path %> |

